<div class="container-fluid bg">
    <form class="form-inline justify-content-center" #form="ngForm">
        <div class="form-group">
          <button type="button" (click)="setCurrentLocation()" class="btn btn-link maps-button-image maps-button"></button>
          <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Latitude" required>
          <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Longitude" required>
          <button type="button" (click)="setCenter()" class="btn btn-primary" [disabled]="form.invalid">Procurar</button>
          <button type="button" class="btn btn-danger offset-sm-6" [routerLink]="['/login']">Logout</button>
          <div class="text-center">
              <span class="ml-5"> Você já visitou <h3 class="d-inline text-primary">{{placesCount}}</h3> lugares</span>
            </div>
      </div>
    </form>
  
        <div class="col-md-12">
            <div class="text-center">
                <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
                <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
                <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
                <button type="button" (click)="toggleMap()" class="btn btn-primary">Toggle Map</button>
              </div>
        </div>

    <br />

    
    <div class="row" >
          <div id="gmapRow" #gmap style="width:100%;height:750px" ></div>
    </div>

  
</div>