/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  overflow: hidden;
}

.jumbotron {
     position: relative;
}

.jumbotron video {
    position: absolute;
    top: 0; left: 0;
    width:100%;
    opacity:.7;
  }
  
  